.glavnyi{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: chartreuse;
}
.container{
    height: 320px;
    width: 240px;
    border-radius: 5px;
    background: aliceblue;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    margin-top: 40px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.h3{
    margin-top: 20px;
}
.button{
    width: 130px;
    height: 25px;
    color: aliceblue;
    background: darkred;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
}
.glavnyi2{
    display: flex;
    gap: 30px;
    background: darkgray;
}
.glavnyi1{
    display: flex;
    background: darkgray    ;
}

